.statcard {
  border-radius: 20px;
  width: 19%;
  padding: 20px;
  background: white;
  box-shadow: #e1e1e1 5px 6px 10px -3px;
  border: 2px #e0e0e0 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.statcard-icon {
  background: rgba(127, 205, 147, 1);
  border-radius: 50%;
  display: flex;
  height: 31px;
  width: 31px;
  justify-content: center;
  align-items: center;
}

.statcard-revenue {
  color: black;
  font-size: 11px;
  font-weight: 400;
  word-wrap: break-word;
}

.statcard-renderer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.amountchanges {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .stat-amount {
    font-size: 21px;
    font-weight: 700;
  }
  .stat-change {
    background: rgba(233, 249, 235, 1);
    padding: 4px 8px;
    border-radius: 10px;
  }
  .stat-change span {
    color: #3cc952;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.5px;
    word-wrap: break-word;
  }
}
